.back-container {
  padding-left: 50px;
  padding-top: 20px;
}
.payment-details-container {
  padding: 50px;
}

.payment-details-footer {
  margin-top: 50px;

  button {
    margin-right: 100px;
  }
}
