.back-container {
  //margin-bottom: 20px;
  padding-left: 50px;
  padding-top: 20px;
}
.payment-details-container {
  padding: 50px;
  //border: solid 1px red;
}

.payment-details-footer {
  margin-top: 50px;
  //border: solid 1px blue;

  button {
    margin-right: 100px;
  }
}
