<div class="payments-container">

  <h1>Payments</h1>

  <button type="button" class="btn btn-outline-dark top" data-bs-toggle="modal" data-bs-target="#createPaymentDialog">Create
    Payment
  </button>

  <table *ngIf="payments" class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Created Date</th>
      <th scope="col">Payer Email</th>
      <th scope="col">Amount</th>
      <th scope="col">Currency</th>
      <th scope="col">Payed</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let payment of payments">
      <td>{{payment.createdDate | date: 'dd-MM-YYYY hh:mm:ss'}}</td>
      <td>{{payment.payerEmail}}</td>
      <td>{{payment.amount}}</td>
      <td>{{payment.currency}}</td>
      <td>
        <em *ngIf="isPaid(payment)" class="fa-solid fa-check"></em>
        <em *ngIf="!isPaid(payment)" class="fa-solid fa-x"></em>
      </td>
      <td>
        <button (click)="viewPaymentDetails(payment)" title="View Details"><em class="fa-solid fa-eye"></em></button>
      </td>
    </tr>
    </tbody>
  </table>


  <!-- Modal -->
  <div class="modal fade" id="createPaymentDialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="createPaymentDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createPaymentDialogLabel">Create Payment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <app-create-payment (paymentCreatedEvent)="handleNewPaymentCreated($event)"></app-create-payment>

      </div>
    </div>
  </div>
</div>
